*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    background: #eaeaea;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.data-table-container {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.data-table-container .data-table-filters,
.data-table-container .data-table-selectors {
    display: flex;
    flex-direction: row;
}
.data-table-container .data-table-selectors .columns-selector {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    padding: .5em 0;
}
.data-table-container .data-table-selectors .columns-selector label {
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    border-radius: .25em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    background: #fff;
    cursor: pointer;
}
.data-table-container .data-table-selectors .columns-selector label:hover {
    color: #007bff;
    background: #f8f9fa;
    transition: all 200ms ease-in-out;
}
.data-table-container .data-table-selectors .columns-selector ul {
    display: none;
    position: absolute;
    top: 120%;
    list-style: none;
    text-align: center;
    background: #fff;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    border-radius: .25em;
}
.data-table-container .data-table-selectors .columns-selector.open ul {
    display: block;
}
.data-table-container .data-table-selectors .columns-selector.open li {
    width: 100%;
    background: #fff;
    cursor: pointer;
}
.data-table-container .data-table-selectors .columns-selector.open li.selected {
    background: #007aff;
    color: #fff;
}
.data-table-container .data-table-filters .entries-filter {
    width: 100%;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
}
.data-table-container .data-table-filters .search-filter {
    width: 100%;
    text-align: right;
    display: inline-block;
    white-space: nowrap;
}
.data-table-container .data-table-filters span {

}
.data-table-container .data-table-filters input,
.data-table-container .data-table-filters select {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    border-radius: .25em;
    margin-left: .25em;
    margin-right: .25em;
    padding: .25em;
}
.data-table-container .data-table-filters select {
    cursor: pointer;
}
.data-table-container .data-table-filters input:active,
.data-table-container .data-table-filters input:focus,
.data-table-container .data-table-filters select:active,
.data-table-container .data-table-filters select:focus {
    outline: none;
}

.data-table-container table[data-table] {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
}

.data-table-container table[data-table] td,
.data-table-container table[data-table] th,
.data-table-container table[data-table].table-bordered {
    border-color: #e0e0e0;
}

.data-table-container table[data-table].table-bordered {
    border: 1px solid #e9ecef;
}

.data-table-container table[data-table] > tbody > tr > td, 
.data-table-container table[data-table] > tbody > tr > th, 
.data-table-container table[data-table] > tfoot > tr > td, 
.data-table-container table[data-table] > tfoot > tr > th, 
.data-table-container table[data-table] > thead > tr > td, 
.data-table-container table[data-table] > thead > tr > th,
.data-table-container table[data-table].table-bordered {
	border-color: #e0e0e0;
}

.data-table-container table[data-table].table-striped tbody tr.odd {
    background-color: #eee;
}
.data-table-container table[data-table].table-striped tbody tr.even {
    background-color: #fff;
}
.data-table-container table[data-table].table-hover tbody tr.odd:hover,
.data-table-container table[data-table].table-hover tbody tr.even:hover {
	background: #efeff4;
}
.data-table-container table[data-table] tbody tr td {
    padding: .25em;
}

.data-table-container table[data-table] tfoot tr td {
    padding: .125em .5em;
}

.data-table-container table[data-table] tfoot tr td .page-info {
    
}

.data-table-container table[data-table] tfoot tr td .pages-container {
    display: flex;
    flex-direction: row;
}

.data-table-container table[data-table] tfoot tr td .pages-container * {
    background: transparent;
    color: #000;
    user-select: none;
}

.data-table-container table[data-table] tfoot tr td .pages-container .page_btn {
    padding: .25rem .5rem;
    cursor: pointer;
}
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn.active,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn.active {
    border: 1px solid #8A8A8F;
}
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_next,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_prev {
    border-radius: .5em;
}
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn:not(.active),
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn:not(.active),
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_next,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_prev {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn:not(.active):hover,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn:not(.active):active,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_next:hover,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_prev:hover {
    border-color: #8A8A8F;
}
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_next,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_prev {
    padding: .3rem .5rem;
    font-size: .75em;
}
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_next.disabled,
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_prev.disabled {
    border-color: transparent;
    background: transparent;
    color: #8A8A8F;
    pointer-events: none;
}
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_next:not(.disabled),
.data-table-container table[data-table] tfoot tr td .pages-container .page_btn_prev:not(.disabled) {
    cursor: pointer;
}

.data-table-container table[data-table] tfoot tr td .pages-container input {
    max-width: 50px;
    background: #fff;
    cursor: pointer;
    border-width: 1px;
    border-color: #8A8A8F;
    border-radius: .5em;
}

.data-table-container table[data-table] thead tr th {
    background: #fff;
    padding: .25em;
    cursor: pointer;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th,
.data-table-container table[data-table].table-bordered {
    border-color: #e0e0e0;
}